@font-face {
	font-family: 'HeaderFont';
	src: url(../fonts/Happy-School.otf) format('opentype');
}

@font-face {
	font-family: 'Monda';
	src: url(../fonts/Monda.ttf) format('truetype');
}

:root {
	--x-icon: #f472b6;
	--o-icon: #4ade80;
	--bg: #1f2937;
	--white: #f8fafc;
	--black: #111827;
	--grey: #9ca3af;
	--dark-grey: rgb(51 65 85);
}
html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: var(--bg);
	color: var(--white);

	font-family: 'Monda', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	font-size: 1.8rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	padding: 0 20px;
}

.header {
	margin: 0 auto;
	padding: 40px 0;
	width: 100%;
}

h1 {
	font-family: 'HeaderFont', sans-serif;
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
}

.main {
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 40px;
}

/* ----------------- Game Information ----------------- */
.game-info {
	width: 100%;
	height: 48px;
	max-width: 400px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-info.win-info {
	opacity: 0;
	font-weight: 700;
	animation: boldInfo 200ms 250ms ease-in-out forwards;
}

/* --------- Players information and game board --------- */
.board-wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 400px 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}

/* ---------------- Players information ---------------- */
.player-info {
	flex-grow: 0;
	width: 100%;
	max-width: 180px;
	height: 48px;
	padding: 0 16px;
	border-radius: 10px;
	border: 1px solid var(--dark-grey);
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;

	transition: all 200ms ease-in-out;
}

.player-1 {
	grid-area: 1 / 1 / -1 / 2;
	justify-self: end;
	margin-right: 30px;
}

.player-2 {
	grid-area: 1 / 3 / -1 / -1;
	margin-left: 30px;
}

.player-info.x-token {
	color: var(--x-icon);
}

.player-info.o-token {
	color: var(--o-icon);
}

.player-1 .token {
	margin-right: -16px;
	margin-left: -8px;
}

.player-2 .token {
	order: 2;
	margin-left: -16px;
	margin-right: -8px;
}

.player-info.x-token.active {
	color: var(--black);
	background-color: var(--x-icon);
	border-color: transparent;
}
.player-info.o-token.active {
	color: var(--black);
	background-color: var(--o-icon);
	border-color: transparent;
}

.player-info .token {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* -------------------- Game board -------------------- */
.board {
	grid-area: 1 / 2 / -1 / 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-content: center;
	gap: 8px;
	background-color: transparent;

	width: 100%;
	max-width: 400px;
	position: relative;
}

.board .cell {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.01);
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	color: inherit;
}

.board .cell svg {
	stroke-width: 2px;
}

.board .cell.three-in-line svg {
	animation: boldIcon 200ms ease-in-out forwards;
}

.board .cell.x-token {
	color: var(--x-icon);
}
.board .cell.o-token {
	color: var(--o-icon);
}

/* --------- Control buttons - restart, set, and next --------- */
.buttons {
	width: 100%;
	max-width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.btn {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	color: var(--grey);
	width: 40px;
	height: 40px;
	transition: color 200ms ease-in-out;
}

.btn svg {
	/* width: 100%; */
	/* height: 100%; */
	width: 40px;
	height: 40px;
}

.btn:hover {
	color: var(--white);
}

/* Footer */
.footer {
	margin-top: auto;
	padding: 14px;
	font-size: 1.4rem;
	color: var(--grey);
}

.footer a {
	color: inherit;
	text-decoration: none;
	font-weight: 900;
	transition: color 200ms ease-in-out;
}

.footer a:hover {
	color: var(--white);
}

/* ---------------------- Style dialog ---------------------- */
dialog {
	margin: auto;
	padding: 0;
	border: none;
	border-radius: 10px;
	width: 100%;
	max-width: 400px;

	background-color: var(--bg);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

dialog[open] {
	animation: fade-in 0.2s ease-in-out;
}

dialog {
	animation: fade-out 0.2s ease-in-out;
}

dialog[open]::backdrop {
	animation: backdrop-fade-in 0.2s ease-in-out forwards;
}

/* --------------- Style dialog close button --------------- */
#close {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 36px;
	height: 36px;
	color: rgba(255, 255, 255, 0.3);

	border: none;
	background-color: transparent;
	cursor: pointer;
}

#close svg {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	stroke-width: 1px;
	transition: all 120ms ease-in-out;
}

#close:hover svg {
	width: 100%;
	height: 100%;
	opacity: 1;
}

/* ----------------- Style form in dialog ----------------- */
form {
	width: 100%;
	padding: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
}

.form-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-row .x-token,
.form-row .o-token {
	height: 48px;
	width: 50%;
	padding: 4px 0;
	border: none;
	color: var(--white);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(255, 255, 255, 0.15);
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 200ms ease-in-out;
}

.form-row label.o-token {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-row #x-token:checked ~ label.x-token {
	background-color: var(--x-icon);
}

.form-row #o-token:checked ~ label.o-token {
	background-color: var(--o-icon);
}

.form-row input[type='radio'] {
	cursor: pointer;
	display: none;
}

input[type='text'] {
	appearance: none;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	padding: 4px 20px;
	width: 100%;
	height: 48px;
	outline: none;
	color: var(--white);
	background-color: transparent;
	transition: all 200ms ease-in-out;
}

.form-row div {
	width: 100%;
	position: relative;
}

.form-row .name-1::after,
.form-row .name-2::after {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);

	font-size: 1.6rem;
}

.form-row .name-1.checked::after {
	content: 'x';
	color: var(--x-icon);
}
.form-row .name-1::after {
	content: 'o';
	color: var(--o-icon);
}

.form-row .name-2.checked::after {
	content: 'x';
	color: var(--x-icon);
}
.form-row .name-2::after {
	content: 'o';
	color: var(--o-icon);
}

input[type='text']:focus {
	background-color: rgba(0, 0, 0, 0.15);
}

input[type='submit'] {
	width: 100%;
	height: 48px;
	border-radius: 10px;
	border: none;
	/* background-color: var(--white); */
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.1);
	color: var(--white);
	font-size: 2rem;
	font-weight: 700;
	cursor: pointer;

	transition: all 200ms ease-in-out;
}

input[type='submit']:hover {
	color: var(--black);
	background-color: var(--white);
}

/* ------------- General svg icon ratio ------------- */
.x-token svg {
	width: 100%;
	height: 100%;
}
.o-token svg {
	width: 72%;
	height: 72%;
}

/* ----------------- Animation code ----------------- */
/* Animation definition for icon and text*/
@keyframes boldIcon {
	from {
		stroke-width: 2px;
	}
	to {
		stroke-width: 4px;
	}
}

@keyframes boldInfo {
	from {
		opacity: 0;
		font-size: 2.4rem;
	}
	to {
		opacity: 1;
		font-size: 3rem;
	}
}

/* Animation definition for dialog */
@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0);
		display: none;
	}
	to {
		opacity: 1;
		transform: scale(1);
		display: block;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
		transform: scale(1);
		display: block;
	}
	to {
		opacity: 0;
		transform: scale(0);
		display: none;
	}
}

@keyframes backdrop-fade-in {
	from {
		background-color: rgba(0 0 0 / 0);
		backdrop-filter: blur(0px);
	}
	to {
		background-color: rgba(0 0 0 / 0.25);
		backdrop-filter: blur(3px);
	}
}

/* ----------------- Responsive code ----------------- */
@media (max-width: 768px) {
	body {
		overflow: auto;
	}

	.header {
		padding: 30px 0;
	}

	.main {
		gap: 24px;
	}

	.board-wrapper {
		max-width: 400px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 72px 1fr;
	}

	.player-1 {
		margin-right: 0;
		grid-area: 1 / 1 / 2 / 2;
		justify-self: start;
		align-self: start;
	}

	.player-2 {
		margin-left: 0;
		grid-area: 1 / 2 / 2 / -1;
		justify-self: end;
		align-self: start;
	}

	.board {
		grid-area: 2 / 1 / -1 / -1;
		margin: 0 auto;
	}
}
